@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

html {
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
}

header {
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    width: 100%;
    font-size: 15px;
    gap: 15px;
}

body {
    background: linear-gradient(135deg, #360568, #5B2A86, #7785AC, #7785AC, #5B2A86, #360568);
    color: rgb(255, 255, 255);
    background-color: #370568be;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu-toggle {
    display: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

hr {
    display: none;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.container-home h1,
.container-home p {
    text-align: left;
}

.container-home h1 {
    font-size: 50px;
}

.fotoPerfil {
    height: auto;
    width: 310px;
    border-radius: 50%;
    margin-bottom: 20px;
    order: 2;
}

.container-about {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.container-about .nome {
    display: block;
}

.container-apresentacao {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

#sobre-mim {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.title-name {
    margin-right: auto;
}

.container-menu {
    display: flex;
    text-align: center;
    margin-left: auto;
    width: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 32px;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu a:hover {
    color: #120026;
}

li {
    list-style-type: none;
}

h2 {
    margin: 20px;
}

#home {
    display: flex;
    padding: 20px;
}

#home,
#sobre-mim,
#projetos,
#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skill-sections {
    margin-top: 20px;
}

.container-box-skill {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4,
.skill-5,
.skill-6,
.skill-7,
.skill-8 {
    background-color: #360568;
    box-shadow: 0 0 10px #360568;
    width: 25px;
    height: 40px;
    padding: 10px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.skill-1:hover,
.skill-2:hover,
.skill-3:hover,
.skill-4:hover,
.skill-5:hover,
.skill-6:hover,
.skill-7:hover,
.skill-8:hover {
    box-shadow: 0 0 10px #ddc1f1;
    background-color: #9e77ac;
}

.skill-1 i,
.skill-2 i,
.skill-3 i,
.skill-4 i,
.skill-5 i,
.skill-6 i,
.skill-7 i,
.skill-8 i {
    color: antiquewhite;
}

.skill-1:hover i,
.skill-2:hover i,
.skill-3:hover i,
.skill-4:hover i,
.skill-5:hover i,
.skill-6:hover i,
.skill-7:hover i,
.skill-8:hover i {
    color: #120026;
}

.paragrafo {
    text-align: justify;
    hyphens: auto;
}

.fundo-contatos {
    background-color: #39383a51;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    padding: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

textarea {
    resize: none;
}

input,
textarea {
    font-family: "Raleway", sans-serif;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}

input:invalid:focus,
textarea:invalid:focus {
    border: 2px solid red;
}

input:valid,
textarea:valid {
    border: 2px solid #360568;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.container {
    width: 450px;
    height: 200px;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    margin: 0 10px 100px 10px;
}

.card {
    height: 300px;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.back-side {
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.container:hover .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.app-visse-vei {
    height: 300px;
    width: 100%;
    border-radius: 2rem;
}

.front-side,
.back-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px #e2aaf9;
    position: absolute;
    backface-visibility: hidden;
}

.back-side p{
    text-align: justify;
    margin:8px;
    font-size: 12px;
}

.back-side button{
    width: 90px;
    border-radius: 20px;
    color: #fff;
    border: none;
}

.buttons {
    padding: 10px 20px;
}

.buttonEmail i,
.buttongithub i,
.buttonlinkedin i {
    color: antiquewhite;
}

.buttonEmail:hover i,
.buttongithub:hover i,
.buttonlinkedin:hover i {
    color: #120026;
}

input:hover,
.form-group {
    margin-bottom: 10px;
}

.buttonEmail,
.buttongithub,
.buttonlinkedin,
a {
    font-family: "Raleway", sans-serif;
    color: #000000;
    width: 25px;
    height: 40px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.buttonEmail,
.buttongithub,
.buttonlinkedin {
    background-color: #360568;
    box-shadow: 0 0 10px #360568;
    transition: all 0.4s ease-in-out;
}

.buttonEmail:hover,
.buttongithub:hover,
.buttonlinkedin:hover {
    box-shadow: 0 0 10px #ddc1f1;
    background-color: #9e77ac;
}

.botao-enviar {
    background-color: #360568;
    box-shadow: 0 0 10px #360568;
    color: white;
    border: none;
    width: 80px;
    height: 35px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
}

.botao-enviar:hover {
    box-shadow: 0 0 10px #ddc1f1;
    background-color: #9e77ac;
    color: #000000;
}

.iconEmbarque,
.iconResidencia {
    width: 180px;
    height: auto;
}

footer {
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.container-menu,
header h1,
.container-home h1,
.iconEmbarque,
.iconResidencia,
.fotoPerfil {
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1110px) {
    html {
        scroll-behavior: smooth;
        font-size: 90%;
    }

    .container-menu {
        width: 90%;
        justify-content: flex-end;
    }

    .container-boxs {
        justify-content: space-around;
        gap: 10px;
    }

    .container-home h1 {
        font-size: 40px;
    }

    header h1 {
        font-size: 20px;
        width: 30vh;
    }

    .container-about {
        gap: 10px;
    }

    .iconEmbarque,
    .iconResidencia {
        width: 150px;
    }

    .fotoPerfil {
        width: 260px;
        padding: 20px;
    }

}

@media (max-width: 767px) {
    html {
        scroll-behavior: smooth;
        font-size: 80%;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #360568;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 20px;
        border-radius: 8px;
    }

    nav.active .menu {
        display: flex;
    }

    .container-about {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .menu-toggle {
        display: block;
        background-color: #37056800;
        color: #fff;
        padding: 10px 15px;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
    }

    hr {
        display: block;
    }

    .menu-toggle:hover i {
        display: none;
    }

    .menu-toggle i.fa-burger {
        display: none;
    }

    .menu-toggle:hover i.fa-burger {
        display: inline;
    }

    .container-menu {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        width: 90%;
    }

    .container-boxs {
        flex-direction: column;
        gap: 10px;
    }

    #contatos {
        margin-top: 20%;
    }

    header h1 {
        font-size: 20px;
        width: 30vh;
    }

    .container-home h1 {
        font-size: 35px;
    }

    .iconEmbarque,
    .iconResidencia {
        width: 150px;
    }

    .fotoPerfil {
        width: 220px;
        padding: 10px;
    }

    .card-container {
        flex-direction: column;
    }

}


@media (max-width: 548px) {
    html {
        scroll-behavior: smooth;
        font-size: 80%;
    }

    section {
        padding: 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: #360568;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 20px;
        border-radius: 8px;
    }

    nav.active .menu {
        display: flex;
    }

    .menu-toggle {
        display: block;
        background-color: #37056800;
        color: #fff;
        padding: 10px 15px;
        font-size: 1rem;
        border: none;
        border-radius: 4px;
    }

    hr {
        display: block;
    }

    .menu-toggle:hover i {
        display: none;
    }

    .menu-toggle i.fa-burger {
        display: none;
    }

    .menu-toggle:hover i.fa-burger {
        display: inline;
    }

    .container-menu {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        width: 90%;
    }

    .container-boxs {
        flex-direction: column;
        gap: 10px;
    }

    #contatos {
        margin-top: 20%;
    }

    .header h1 {
        font-size: 30px;
        width: 30vh;
    }

    .iconEmbarque,
    .iconResidencia {
        width: 130px;
    }

    .fotoPerfil {
        width: 220px;
        padding: 20px;
    }

}
<<<<<<< HEAD

=======
>>>>>>> f58b6d5fda6f417af33b8861ee30f17dcb11c95f
